<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>페이스북 페이지 정보모음 사이트</title>
    {% block external_top %}
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="페이스북 모음 사이트!" /> 
    <meta property="og:image" content="https://fpage.kr/images/banner_event.png" /> 
    <meta property="og:description" content="페이스북 모음 사이트 입니다 ^^" /> 
    <meta property="og:url" content="https://fpage.kr">
    {% endblock %}


	<script type="text/javascript"> 
		/*
    var $buoop = {vs:{i:6,f:3.6,o:10.6,s:4,n:9}} 
		$buoop.ol = window.onload; 
		window.onload=function(){ 
		 try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
		 var e = document.createElement("script"); 
		 e.setAttribute("type", "text/javascript"); 
		 e.setAttribute("src", "http://browser-update.org/update.js"); 
		 document.body.appendChild(e); 
		} */
    
	</script> 
	

   
    <!-[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]->

    <!-- Le styles -->
    <link href="/stylesheet/fbootstrapp/bootstrap.css" rel="stylesheet">
    <script src="/scripts/jquery-1.7.2.min.js"></script>
     <link href="/stylesheet/common.css" rel="stylesheet">
     <style>
     .pills a{text-shadow: 0 0px 0px #FFFFFF; font-weight: bold;}
     .topbar div > ul a, .nav a {padding: 6px 10px 9px;}
     .topbar div > ul .active > a, .nav .active > a{background-color: #1a3c6c;}
     .topbar div > ul a:hover{background-color: #1a3c6c;}
     </style>

    <script>

    $(function(){
      var list = ["danger2012","frankenweenie","19bearted"];
      var i = list.length-1;
      setInterval(function(){
        //var i = Math.floor(Math.random()*list.length);
         
        if (i<0){
          i=list.length-1;;
        }
        var banner = "/images/"+list[i]+"_banner.jpg";
        var link = "/event/"+list[i];
        $(".event_banner a img").attr("src",banner);
        $(".event_banner a").attr("href",link);
        i--;

      },3000);  
      

      });
    </script>
	{% block external %}{% endblock %}
  
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div style="width:160px;float:left;padding-left:20px">
          <a class="brand" href="/"><span class="logo">f page</span></a>
          </div>
          <!--
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
      		-->

          <div class="row">
            <div class="span10">
              <ul class="pills">
                <li ><a href="/admin/" targe="_self" >페이지관리</a></li>
                <li><a href="/admin/events/1/" targe="_self">이벤트관리</a></li>
                <li><a href="/admin/counselling/1/" targe="_self">온라인상담관리</a></li>
                <!--
                <li><a href="" targe="_self" >facebook Login</a></li>
                -->
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content body_content" >
        <div class="row">
          {% block content %}{% endblock %}
          {% block add %}
          {% include 'banner_right.html' %}
          {% endblock %}
    
        </div>
      </div>

      <footer>
        <p><a href="/info/">f page소개</a> | <!--<a href="#">개인정보취급방침</a> |--> <a href="/marketing/">광고 및 제휴 안내</a> </p>
        <p>COPYRIGHT@inthe-Company CO LTD. ALL RIGHTS RESERVED</p>
      </footer>

    </div> <!-- /container -->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32878418-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
