<aside class="span6 spon" >
<h3>f-banner</h3>
<ul class="sponseor">
<a href="https://www.facebook.com/lottecom.fan" target="_blank">
  <li>
    <figure>
          <figcaption>롯데닷컴
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=lottecom.fan";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/lottecom.fan" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>

    </figcaption>
    <img src="https://graph.facebook.com/lottecom.fan/picture?type=large" alt="banner"/>
    <p>Shopping Entertainer 박스녀와 함께하는 롯데닷컴 공식 페이스북</p>

    </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/typography.seoul" target="_blank">
  <li>
    <figure>
          <figcaption>Typography Seoul
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=typography.seoul";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/typography.seoul" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>

    </figcaption>
          <img src="https://graph.facebook.com/typography.seoul/picture?type=large" alt="banner"/>
          <p>누구나 디자인을 이야기하고 누구나 타이포그래피를 즐길 수 있는 온라인 디자인매체 '타이포그래피 서울'의 공식 페이지입니다.
    </p>

        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/lottebeauty" target="_blank">
  <li>
    <figure>
          <figcaption>lottebeauty
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "http://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=lottebeauty";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>
    <div class="fb-like" data-href="https://www.facebook.com/lottebeauty" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>


    </figcaption>
          <img src="https://graph.facebook.com/lottebeauty/picture?type=large" alt="banner" alt="banner"/>
          <p>Beauty No.1은
롯데닷컴 명품화장품 No.1의
공식 팬페이지입니다.</p>
        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/lotteyoungplaza" target="_blank">
  <li>
    <figure>
          <figcaption>lotteyoungplaza
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=lotteyoungplaza";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-href="https://www.facebook.com/lotteyoungplaza" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>
    </figcaption>
          <img src="https://graph.facebook.com/lotteyoungplaza/picture?type=large" alt="banner"/>
          <p>FUN한 이벤트? 유용한 패션정보! 롯데닷컴 영플라자 공식 페이스북</p>
        </figure>
  </li>
  </a>
  <a href="https://www.facebook.com/fspcorea" target="_blank">
  <li>
    <figure>
          <figcaption>바오로딸
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=fspcorea";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-href="https://www.facebook.com/fspcorea" data-send="false" style="float:right" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>
    </figcaption>
          <img src="https://graph.facebook.com/fspcorea/picture?type=large" alt="banner"/>
          <p>성바오로딸수도회 공식페이지 http://www.fsp.or.kr/</p>
        </figure>
  </li>
  </a>
</ul>
  <div id="banner_facebook" style="padding-top:20px;">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="fb-like-box" data-href="https://www.facebook.com/fpage.kr" 
       data-width="252" data-height="500" data-show-faces="false" data-stream="true" data-header="true">
    </div>
  </div>
</aside>