<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Kooking :: 국회의원 랭킹 시스템</title>
    {% block external_top %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="국회의원 감찰 시스템" /> 
    <meta property="og:image" content="https://fpage.kr/images/banner_event.png" /> 
    <meta property="og:description" content="대국민 국회의원 감찰 시스템 입니다." /> 
    <meta property="og:url" content="http://kooking.kr">
    {% endblock %}

	

   
    <!-[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]->

    <!-- Le styles -->
    
    <script src="/scripts/jquery-1.7.2.min.js"></script>
    <link href="/stylesheet/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheet/css/bootstrap-responsive.css" rel="stylesheet">
     <!--
    <link href="/stylesheet/fbootstrapp/bootstrap.css" rel="stylesheet">
     <link href="/stylesheet/common.css" rel="stylesheet">
   -->
     <style>
     body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
     </style>

    
	{% block external %}{% endblock %}
  
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Kooking</a>

         

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">본회의 출석 순위</a></li>
              <li><a href="/category/abstention">기권 순위</a></li>
              <li><a href="/category/not_vote">불참 순위</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}

    </div>
<!--
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32878418-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
  </body>
</html>
