{%  extends 'admin_base.html' %}
{%  block content %}

<table>
  <thead>
    <tr>
      <td>번호</td>
      <td>type</td>
      <td>카테고리</td>
      <td>이벤트 명</td>
      <td>주최</td>
      <td>등록일</td>
    </tr>
  </thead>
  <tbody>
    
    {% for event in events %}
    <tr>
      <tr>
        <td>{{event.id}}</td>
        <td>{{event.event_type}}</td>
        <td>{{event.category}}</td>
        <td width="40%"><a href="/admin/events/view/{{event.id}}" target="_self">{{event.title}}</a></td>
        <td>{{event.sponsorship}}</td>
        <td>{{event.date}}</td>
        <!--
        <td style="text-align:right">
          {% if event.view == False %}
          <a href="" class="btn ">비공개</a>
          {% else %}
          <a href="" class="btn ">공개</a>
          {% endif %}
        </td>
      -->
      </tr>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="6" style="text-align:right"><a href="/admin/events/create/" class="btn primary">등록</a></td>
    </tr>
  </tbody>
</table>

  <article class=" centeringContainer ">
    <ul class="pagination centered">
     {% if not prev %}
        <li class="prev disabled">
          <a href="#">&larr; Previous</a>
        </li>
        {% else %}
        <li class="prev">
          <a href="/admin/events/{{prev}}">&larr; Previous</a>
        </li>
        {% endif %}
        
        {% for list in paging %}
          {% if (list|str_isEqual(page_number)) %}
            <li class="active">
              <a href="#">{{list}} </a>
            </li>
          {% else %}
            <li>
              <a href="/admin/events/{{list}}/">{{list}}</a>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if not next %}
          <li class="next disabled">
            <a href="#">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next">
            <a href="/admin/events/{{next}}/">Next &rarr;</a>
          </li>
        {% endif %}
    </ul>
  </article>
{% endblock %}
{% block add %}{% endblock %}

