{%  extends 'admin_base.html' %}
{%  block content %}
{% block external %}
<link rel="stylesheet" href="/stylesheet/themes/base/jquery.ui.all.css">

  <script src="/scripts/jquery-1.8.0.js"></script>

  <script src="/scripts/ui/jquery.ui.core.js"></script>
  <script src="/scripts/ui/jquery.ui.widget.js"></script>
  <script src="/scripts/ui/jquery.ui.datepicker.js"></script>
  <script>
  $(function() {
    $( "#start_date" ).datepicker({
      defaultDate: "+0w",
      changeMonth: true,
      numberOfMonths: 2,
      onSelect: function( selectedDate ) {
        $( "#end_date" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#end_date" ).datepicker({
      defaultDate: "+0w",
      changeMonth: true,
      numberOfMonths: 2,
      onSelect: function( selectedDate ) {
        $( "#start_date" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  </script>
{% endblock %}
<form method="POST" action="" enctype="multipart/form-data">
<table>
  <tbody>
    <tr>
      <th>이벤트 TYPE</th>
      <td><input type="radio" value="PC WEB" name="type" id="type" checked />PC WEB</td>
    </tr>
    <tr>
      <th>카테고리</th>
      <td>
        <select name="category" id="category">
          <option value="{{event.category}}">{{event.category}}</option>
          {% for list in category %}
          <option value="{{list.category}}">{{list.category}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>주최</th>
      <td><input type="text" value="{{event.sponsorship}}" id="sponsorship" name="sponsorship"/></td>
    </tr>
    <tr>
      <th>이벤트명</th>
      <td><input type="text" value="{{event.title}}" id="title" name="title"/></td>
    </tr>
    <tr>
      <th>이벤트베너 (120*120)</th>
      <td><input type="file" id="banner" name="banner"/></td>
    </tr>
    <tr>
      <th>응모기간</th>
      <td>
        <input type="text" value="{{event.start_date}}" id="start_date" name="start_date"/>
        <input type="text" value="{{event.end_date}}" id="end_date" name="end_date"/>
      </td>
    </tr>
    <tr>
      <th>당첨자 발표</th>
      <td>
        <input type="text" value="{{event.publish}}" id="publish" name="publish"/>
      </td>
    </tr>
    <tr>
      <th>인원</th>
      <td>
        <input type="text" value="{{event.person}}" id="person" name="person"/>
      </td>
    </tr>
    <tr>
      <th>상세페이지 링크 {{event.link_type}}</th>
      <td>
        <input type="radio" value="fpage" id="link_type" name="link_type" {% if (event.link_type=="fpage") %}checked{% endif %}/> fpage
        <input type="radio" value="another" id="link_type" name="link_type" {% if (event.link_type=="another") %}checked{% endif %} /> 외부
        <input type="text" value="{{event.link}}" id="link_url" name="link_url" />
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit"  value="수정" class="btn success"/></td>
    </tr>

  </tbody>
</table>
</form>

{% endblock %}
{% block add %}{% endblock %}

