{%  extends 'base.html' %}
{% block external %}

<script src="/scripts/jquery-1.7.2.min.js"></script>
<script>
function pop(){ 
window.open("/popup/", "pop", "width=500,height=400,history=no,resizable=no,status=no,scrollbars=no,menubar=no");
}
$(function(){
	//pop();
});
</script>
<style>
a:hover article{background:#ccc;}
</style>
{% endblock %}

        
        {%  block content %}
          <div class="span4">
            <h3>f page 카테고리</h3>
            <ul class="category">
            	<li><a href="/category/all/page/1">전체({{category_count_all}})</a></li>
            	{% for list in category %}
            	<li><a href="/category/{{list.id}}/page/1" target="_self">{{list.category}}( {{list.counting()}} )</a></li>
            	{% endfor %}
            </ul>
            <ul class="category_banner">
				<li><a href="/event/bungeejump"><img src="/images/bungee_banner.jpg" alt="번지점프를하다" /></a></li>
            	<li><a href="/event/darkknight"><img src="/images/dark_banner.jpg" alt="다크나이트" /></a></li>
            	<li><a href="/info/"><img src="/images/banner_fpage.png" alt="fpage 란?" /></a></li>
				<li><a href="/marketing/"><img src="/images/banner_marketing.png" alt="마케팅센터" /></a></li>
            </ul>
          
          </div>
          <section class="span12 main">
          {% if type == 'recommand' or type == 'liketop' or type == 'new' %}
            <nav>
            	<ul class="tabs">
					<li {% if type == 'event' %}class="active" {% endif %}><a href="/category/event/">이벤트 페이지</a></li>	
					<li {% if type == 'recommand' %}class="active" {% endif %}><a href="/category/recommand/page/1">추천 f 페이지</a></li>
					<li {% if type == 'liketop' %} class="active" {% endif %}><a href="/category/liketop/page/1">좋아요 TOP 페이지</a></li>
					<li {% if type == 'new' %} class="active"  {% endif %}><a href="/category/new/page/1">새로 등록된 f 페이지</a></li>
				</ul>  
            </nav>
          {% elif not category_name=='' %}
          <h3><span style="color:#C62C2C">{{category_name}} 카테고리에 총{{category_count}}개의 f page 가 있습니다  </span> <a href="/" >>> 홈 돌아가기</a> </h3>
          {% endif %}
            
			<a href="/event/bungeejump" target="_self" class="event_link" alt="번지점프를하다.">
			<article>
            	<figure>
            		<img src="http://test.inthe-movie.com:9999/images/bungee_banner.jpg" alt="대표사진"/>
            	</figure>
        		<dl>

        			<dt>[뮤지컬 해븐] 번지 점프를하다.</dt>
        			<dd class="like">?명이 좋아합니다. 
        				
                	<!--  
	                <div id="fb-root"></div>
	                -->
	                <script>
	                (function(d, s, id) {
	                  var js, fjs = d.getElementsByTagName(s)[0];
	                  if (d.getElementById(id)) return;
	                  js = d.createElement(s);
	                  js.id = id;
	                  js.src = "http://connect.facebook.net/ko_KR/all.js#xfbml=1&appId=musicalheaven";
	                  fjs.parentNode.insertBefore(js, fjs);
	                }(document, 'script', 'facebook-jssdk'));
	
	                </script>
	                <div class="fb-like" data-href="https://www.facebook.com/musicalheaven" data-send="false" data-layout="button_count" data-width="120"  data-show-faces="false" data-font="arial"></div>
	            
	
	              </dd>
        			<dd class="talks">10000 이야기 하고 있는 사람들</dd>
        			<dd class="text">설명입니다.</dd>
        		</dl>
            </article>
            </a>
            

          </section>         
 {% endblock %}

    