{%  extends 'base.html' %}
{% block external %}
<style>
.img-polaroid{width:120px;height:150px;}
</style>
<script>
$(function(){
// 	https://oneid.skplanetx.com/oauth/authorize?client_id=[YOUR_CLIENT_ID]
// &response_type=code&scope=[YOUR_SCOPE]&redirect_uri=[YOUR_REDIRECT_URI]
	url ="https://oneid.skplanetx.com/oauth/authorize?client_id=9e472184-e559-309d-a1f9-625b43f9080d&response_type=token&scope=user/profile,nate&redirect_uri=http://test.inthe-movie.com:1234/kooking_oauth/"
	$(".click_check").click(function(){
		window.location.href=url;
		// $.post(url,function(result){
		// 	alert(result);
		// });
	})
	

// x-skpop-userId:pcmwooki
// Accept-Language:ko_KR
// Date:Fri Nov 16 19:48:05 KST 2012
// access_Token:13ffd610-df12-40f2-b561-44ae4d038df9
// Accept:application/json
// appKey:**************************

// Get Method https://apis.skplanetx.com/nateon/profile?version=1
	

});
</script>
{% endblock %}
{% block content %}
	<h1>국회의원 랭킹 시스템 Kooking</h1>
	<p>국회의원이 일을 제대로 하는지 국민들이 쉽게 랭킹형식으로 볼수 있는 서비스 입니다.</p>
	<table class="table">
	{% if type=='abstention' or type=='not_vote' %}
		<tr>
			<td>순위</td>
			<td>이름</td>
			<td>정당</td>
			<td>지역구</td>
			<td>투표</td>
		</tr>
	
	
		{% for ass in totalass %}
			<tr>
				<td></td>
				<td>
					<img src="http://watch.peoplepower21.org/images/member/{{ass.ass.key}}.jpg" class="img-polaroid" />{{ass.ass.name}}
				</td>
				<td>{{ass.ass.political_party}}</td>
				<td>{{ass.ass.area}}</td>
				<td>
					<ul>
						<li>기권 : {{ass.abstention}}회</li>
						<li>불참 : {{ass.not_vote}}회</li>
						<li>결석 : {{ass.absence}}회</li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	{% else %}
	<tr>
		<td>순위</td>
		<td>이름</td>
		<td>상세</td>
		<td>출석률</td>
	</tr>
	{% for ass in totalass %}
		<tr>
			<td width="5%"></td>
			<td width="15%" style="text-align:center"><a href="http://search.nate.com/search/all.html?s=&sc=&afc=&j=&thr=sbma&nq=&q={{ass.ass.name}} 의원" target="_blank">
				<img src="http://watch.peoplepower21.org/images/member/{{ass.ass.key}}.jpg" class="img-polaroid" /><p >{{ass.ass.name}}</p></a>
			</td>
			<td width="40%">
				<ul>
					<li>정당 : {{ass.ass.political_party}}</li>
					<li>지역구 : {{ass.ass.area}}</li>
					<li>상임위원회 : {{ass.ass.commission}}</li>
					<li>연락처 : {{ass.ass.phone}}</li>
					<li>이메일 : {{ass.ass.email}}</li>
					<li>홈페이지 : <a href="http://{{ass.ass.homepage}}" target="_blank">{{ass.ass.homepage}}</a></li>
					<li>출석 : {{ass.temp1}}회</li>
					<li>청가 : {{ass.temp2}}회</li>
					<li>출장 : {{ass.temp3}}회</li>
					<li>결석 : {{ass.temp4}}회</li>
					<li><a href="#" class="btn btn-danger btn-large click_check" >경고메일 보내기</a></li>
				</ul>
			</td>
			<td>
				<div class="progress progress-striped active "><div class="bar" style="width: {{ass.temp1/21*100}}%;"></div></div>
				{{ ass.temp1/21*100}}%
			</td>
		</tr>

	<!-- <ul>
		<li><img src="http://watch.peoplepower21.org/images/member/{{ass.ass.key}}.jpg" class="img-polaroid" /></li>
		<li>이름 : {{ass.ass.name}}</li>
		<li>정당 : {{ass.ass.political_party}}</li>
		<li>지역구 : {{ass.ass.area}}</li>
		<li>상임위원회 : {{ass.ass.commission}}</li>
		<li>연락처 : {{ass.ass.phone}}</li>
		<li>이메일 : {{ass.ass.email}}</li>
		<li>홈페이지 : {{ass.ass.homepage}}</li>
		<li>출석 : {{ass.temp1}}회</li>
		<li>청가 : {{ass.temp2}}회</li>
		<li>출장 : {{ass.temp3}}회</li>
		<li>결석 : {{ass.temp4}}회</li>
	</ul> -->
	{% endfor %}
	{% endif %}
	</table>
	{% endblock %}

    