{%  extends 'base.html' %}
{%  block content %}
        <div class="row">
          <div class="span4" style="width:140px;">
            <h4 class="tab" style="padding-left:20px">f-event</h4>
            {% include "banner_left.html" %}          
          </div>
          <section class="infomation">
		  <article class="marketing">
          	<img src="../images/info.jpg" alt="infomation" />
			<a href="/"><input type="button" value="f page 이용하기" style="padding:20px 100px;margin-left:30%;margin-top:3%;font-size:16px;font-weight:bold"></a>
			</article>
          </section>
        </div>
{% endblock %}
{% block add %}{% endblock %}

