{%  extends 'base.html' %}
{%  block content %}
<div class="row">
			<div class="span4" style="width:140px;">
				<h4 class="tab" style="padding-left:20px">f-event</h4>
				{% include "banner_left.html" %}
			</div>
          <section class="infomation">
			<!-- 	
			<h1>
				<img src="../images/marketing_menu_1.png" alt="마케팅센터" />
				<button><img src="../images/marketing_button_1.png" alt="마케팅센터" /></button>
				<button><img src="../images/marketing_button_2.png" alt="마케팅센터" /></button>
			</h1>
			<div>
				<img src="../images/marketing_1.png" alt="마케팅 센터 설명"/>
			</div>
			-->
          	<article class="marketing">
				<div class="marketing_img">
					<div class="bt">
						<a href="/marketing/"><img src="../images/marketing_button_1.png" alt="마케팅센터" /></a>
						<a href="/goods/" ><img src="../images/marketing_button_2.png" alt="마케팅센터" class="goods"/></a>
					</div>
					<img src="../images/marketing.png" alt="image"/>
				</div>
          		<form method="post" action=".">
          		<h3>정보입력</h3>
				<table>
					<tr>
						<th>페이지 주소</th>
						<td><input type="text" name="page_url" id="page_url" /><input type="button" value="중복체크" id="checkUrl"/>
							<input type="hidden" value="" id="hiddenCheck" />
						</td>
					</tr>
					<tr>
						<th>카테고리</th>
						<td class="category">
							<input type="radio" name="category" id="category" value="방송/언론" />방송/언론
							<input type="radio" name="category" id="category" value="기업" />기업
							<input type="radio" name="category" id="category" value="인물" />인물
							<input type="radio" name="category" id="category" value="기관/단체" />기관/단체
							<input type="radio" name="category" id="category" value="브랜드" />브랜드
							<input type="radio" name="category" id="category" value="쇼핑" />쇼핑
							<input type="radio" name="category" id="category" value="교육" />교육
							<input type="radio" name="category" id="category" value="엔터테인먼트" />엔터테인먼트
							<input type="radio" name="category" id="category" value="의료" />의료
							<input type="radio" name="category" id="category" value="출판" />출판
							<input type="radio" name="category" id="category" value="해외" />해외
							<input type="radio" name="category" id="category" value="공연" />공연
							<input type="radio" name="category" id="category" value="영화" />영화
							<input type="radio" name="category" id="category" value="여행" />여행
							<input type="radio" name="category" id="category" value="게임" />게임
							<input type="radio" name="category" id="category" value="스포츠" />스포츠
							<input type="radio" name="category" id="category" value="지역" />지역
							<input type="radio" name="category" id="category" value="기타" />기타
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li> 페이지주소는  운영 중이신 페이스북 페이지 링크 및 데이터연동에 사용되므로 정확히 넣어주셔야 합니다</li>
								<li>카테고리는 중복선택이 가능하며 체크하신 카테고리에 페이지가 노출됩니다 </li>
							</ul>
						</td>
					</tr>
					
				</table>
				<h3>신청자 정보입력</h3>
				<table class="user_info">
					<tr>
						<th>업체 명</th>
						<td><input type="text" name="company" id="company" /></td>
						<th>담당자명</th>
						<td><input type="text" name="charge" id="charge" /></td>
					</tr>
					<tr>
						<th>연락처</th>
						<td><input type="text" name="phone" id="phone" /></td>
						<th>이메일</th>
						<td><input type="text" name="email" id="email" /></td>
					</tr>
					<tr>
						<th>뉴스레터신청</th>
						<td colspan="3"><input type="checkbox" id="check" name="check" value='1' /> f page 가 제공하는 페이스북 페이지 마케팅에 관한 뉴스레터를 받겠습니다 </td>
					</tr>
					
					<tr >
						<td colspan="4">
							<ul>
								<li>뉴스레터는 페이스북 페이지에 관한 국내외 마케팅 app, 이벤트 사례분석 등의 자료가 제공됩니다</li>
								<li>입력하신 이메일 주소로 등록신청 결과가 통보됩니다 </li>
							</ul>
						</td>
					</tr>
				</table>
          		<input type="submit" value="등록 신청" class="span3" id="submitform"/>
          		</form>
          	</article>
          </section>
	
</div>
<script >
	$(function(){
		
		$("#checkUrl").click(function(){
			var data = {
					url : $("#page_url").val()
			}
			$.post("/validate/",data,function(result){
				if(result=="success"){
					alert("사용가능 합니다.");
					$("#hiddenCheck").val('true');
				}else{
					alert("등록된 페이지거나 사용할수 없는 주소입니다.");
					$("#hiddenCheck").val('');
				}
			});
		});
		$("#submitform").click(function(){

			if($("#page_url").val()==''){
				alert("페이지 주소를 입력해주세요.");
				$("#page_url").focus();
				return false;		
			}
			else if ($("#hiddenCheck").val() !='true'){
				alert("중복체크를 해주세요.");
				return false;
			}
			if(!$(':input:radio[name=category]:checked').val()){
				alert("카테고리를 지정해 주세요.");
				$("#category").focus();
				return false;
			}
			if($("#company").val()==''){
				alert("업체 이름을 입력해주세요.");
				$("#company").focus();
				return false;
			}
			if($("#charge").val()==''){
				alert("담당자 이름을 입력해주세요.");
				$("#charge").focus();
				return false;
			}
			if($("#phone").val()==''){
				alert("연락가능한 번호를 입력해주세요.");
				$("#phone").focus();
				return false;
			}
			if($("#email").val()==''){
				alert("이메일주소를 입력해주세요.");
				$("#email").focus();
				return false;
			}
			if($("#check").is(':checked') !=true ){
				alert("뉴스레터신청을 수락해주세요.");
				$("#check").focus();
				return false;
			}
			
			$("#submitform").submit();
			
			alert("정상적으로 신청되었습니다.");
			
			
		});
		
	});
</script>
{% endblock %}
{% block add %}{% endblock %}
