{%  extends 'base.html' %}
{%block external %}
<style>
	.mailto{ z-index:10000;position:absolute;top:930px;right:220px;background:transparent;}
	.mailto div {width:200px;height:49px;background:transparent;}
	.proposals{ z-index:10000;position:absolute;top:930px;right:10px;background:transparent;}
	.proposals div {width:200px;height:49px;background:transparent;}
	#login_error{display: none}
	#counselling_form{width:450px;margin: 0 auto}
	label{text-align: left;width:80px;padding-left: 30px}
	input.xlarge{width:270px;}
	textarea.xlarge{width:270px;height:100px;}

	
</style>
<script type="text/javascript" src="/stylesheet/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="/stylesheet/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script type="text/javascript">

$(function(){

	/* This is basic - uses default settings */
	
	/* Using custom settings */
	
	$("#counselling").fancybox({
		'autoDimensions'	: false,
		'hideOnContentClick': false,
		'scrolling': 'no',
		'width':'500',
		'height':'400',
		'titleShow'		: false
	});

	/* Apply fancybox to multiple items */
	/*
	$("area.group").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});*/

	$("#counselling_form").bind("submit",function(){
		
		if ($("#company").val().length < 1 || $("#person").val().length < 1 ||
			$("#phone").val().length < 1 || $("#email").val().length < 1 ||
			$("#title").val().length < 1 || $("#contents").val().length < 1) {

			alert("빈 항목이 있습니다^^;");
		   
		    //$.fancybox.resize();
		    
		    
		    return false;
		}
		//$("#counselling").trigger('click');
		$.fancybox.showActivity();
		
		$.post("/goods/",$(this).serialize(),function(response){
			if (response=="True"){
				//$(".counselling_form").hide();
				$.fancybox("문의해주셔서 감사합니다.\n 곧 연락드리겠습니다^^");
				$.fancybox.close();
			}else{
				$.fancybox("전송이 실패하였습니다.");
			}
		});
		return false;
	});

	
});
</script>
{% endblock %}
{%  block content %}
<div class="row">
			<div class="span4" style="width:140px;">
				<h4 class="tab" style="padding-left:20px">f-event</h4>
				
				{% include "banner_left.html" %}

			</div>
          <section class="infomation">
			<!-- 	
			<h1>
				<img src="../images/marketing_menu_1.png" alt="마케팅센터" />
				<button><img src="../images/marketing_button_1.png" alt="마케팅센터" /></button>
				<button><img src="../images/marketing_button_2.png" alt="마케팅센터" /></button>
			</h1>
			<div>
				<img src="../images/marketing_1.png" alt="마케팅 센터 설명"/>
			</div>
			-->

          	<article class="marketing">
          		
				<div class="marketing_img">
					<div class="bt">
						<a href="/marketing/"><img src="../images/marketing_button_1_on.png" alt="마케팅센터" /></a>
						<a href="/goods/" ><img src="../images/marketing_button_2_on.png" alt="마케팅센터" class="goods" /></a>
					</div>
					<img src="../images/goods_body.jpg" alt="image" usemap="#good_marketing" />
					<!--<a href="mailto:kerze@inthe-company.com" class="mailto"><div></div></a>
					<a href="http://fpage.kr/images/fpage_Proposals_20120719.pdf" class="proposals" ><div></div></a>-->
					<map id="good_marketing" name="good_marketing">
						<area shape="rect" coords="377,932,570,977" href="#counselling_form" id="counselling" />
						<area shape="rect" coords="580,932,776,977" href="http://fpage.kr/images/fpage_Proposals_20120719.pdf" />
					</map>

				</div>
          		
          	</article>
          	<div class="counselling_form" style="display:none;" >
          			<div id="data" style="overflow:none;" >
						<form action="." method="POST" id="counselling_form" >
							<fieldset>
								<div class="clearfix">
									<label for="xlInput">회사명</label>
									<div class="input">
										<input class="xlarge" type="text" name="company" id="company" />
									</div>
								</div>
								<div class="clearfix">
									<label for="xlInput">담당자</label>
									<div class="input">
										<input class="xlarge" type="text" name="person" id="person" />
									</div>
								</div>
								<div class="clearfix">
									<label for="xlInput">연락처</label>
									<div class="input">
										<input class="xlarge" type="text" name="phone" id="phone" />
									</div>
								</div>
								<div class="clearfix">
									<label for="xlInput">이메일</label>
									<div class="input">
										<input class="xlarge" type="text" name="email" id="email"/>
									</div>
								</div>
								<div class="clearfix">
									<label for="xlInput">문의제목</label>
									<div class="input">
										<input class="xlarge" type="text" name="title" id="title"/>
									</div>
								</div>
								<div class="clearfix">
									<label for="xlInput">문의내용</label>
									<div class="input">
										<textarea name="contents" class="xlarge" id="contents"></textarea>
										<span class="help-block"> 최대한 빠른시간내에 답변드리겠습니다^^</span>
									</div>
								</div>
								<div class="actions">
									<input type="submit" value="온라인상담하기" class="btn primary"/>
								</div>
							
							</fieldset>
						</form>
					</div>
          		</div>
          </section>
          	
	
</div>

{% endblock %}
{% block add %}{% endblock %}
