{%  extends 'base.html' %}
{% block external_top %}
    <meta property="og:title" content="페이스북 정보사이트 fpage.kr 광해" />
<meta property="og:type" content="activity" />
<meta property="og:url" content="https://fpage.kr/event/{{event_name}}" />
<meta property="og:image" content="https://fpage.kr/images/{{event_name}}_small.jpg" />
<meta property="og:image:height" content="86" />
<meta property="og:image:width" content="111" /> 
<meta property="og:site_name" content="fpage이벤트" /> 

    {% endblock %}
{% block external %}


<style type="text/css">
	.fb_event{width:100%;}
	
	.like{background:transparent;position:absolute;top:2146px;left:470px;}
	.movie{position:absolute;top:1636px;left:31px;}
	.like_loaging{display:none;z-index:1000;font-weight: bold}

	.go_page{position:absolute;top:1211px;left:385px;display:block;}
	.go_page div{width:193px;height:45px;background:transparent;}
	.link1{background:transparent;position:absolute;top:2760px;left:180px;width:130px;height:43px;}
	.link2{background:transparent;position:absolute;top:2760px;left:320px;width:140px;height:43px;}
	.link3{background:transparent;position:absolute;top:2760px;left:480px;width:130px;height:43px;}
	.link4{background:transparent;position:absolute;top:2800px;left:560px;width:150px;height:43px;}
	.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {display: none !important;}
	.fb_edge_widget_with_comment iframe{width:58px !important;height:20px !important;}
</style>
{% endblock %}

{%  block content %}
<div id="fb-root"></div>

        <div class="row">
          <div class="span4">
            <h3>f page 카테고리</h3>
            <ul class="category">
            	<li><a href="/category/all/page/1">전체( {{category_count_all}} )</a></li>
            	{% for list in category %}
            	<li><a href="/category/{{list.id}}/page/1" target="_self">{{list.category}}( {{list.counting()}} )</a></li>
            	{% endfor %}
            </ul>
            {% include "banner_left.html" %}
          
          </div>
          <section class="event">
          	

			<script>
		
			
			function share(){
					
			

					 FB.login(function(response) {
					   if (response.authResponse) {
					   	var accessToken = response.authResponse.accessToken;
					     FB.api('/me', function(response) {
									var data ={
										'user_id' : response.id,
										'email' : response.email,
										'name' : response.name
									} 
									
									
										
							    	$.post('/event/{{event_name}}',data,function(result){
							    		if (result=='false'){
											alert("이미 응모하셨습니다.");
							    		}else{
							    			var url = "https://fpage.kr/event/{{event_name}}";
											var body = data.name+'님이 <광해> 이벤트에 참여하셨습니다. <광해> 이벤트에 '+data.name+'님의 친구들을 초대합니다. ' + url ;
											var path = "https://fpage.kr/images/{{event_name}}_thumbnail.jpg";
											$("body").css("cursor", "progress");
											$(".like_loaging").show();
											$(".fb-like").hide();
											FB.api('/'+data.user_id+'/photos', 'post', { message: body,url:path}, function(callback) {
													if (!callback || callback.error) {
														alert('죄송합니다 공유가 안되었네요 관리자에게 알려주세요! first');
														
													} else {
														$(".like_loaging").hide();
														$(".fb-like").show();
														$("body").css("cursor", "auto");
														alert("응모가 완료되었습니다.");
														
																					
													}
												});
							    			
							    		}
							    	});
								   
								});
					   }
					 }, {scope: 'email,publish_stream,photo_upload,publish_actions'});

					 //return false;
				}


				
			 	window.fbAsyncInit = function() {
				    FB.init({
				      appId      : '120166908127437', // App ID
				      channelUrl : 'https://connect.facebook.net/ko_KR/all.js', // Channel File
				      status     : true, // check login status
				      cookie     : true, // enable cookies to allow the server to access the session
				      xfbml      : true  // parse XFBML
				    });
				    

				    FB.getLoginStatus(function(response) {

					    if (response.status === 'connected') {
								var uid = response.authResponse.userID;
								var accessToken = response.authResponse.accessToken;
								console.log(response);
								FB.Event.subscribe("edge.create", function(targetUrl) {
									share();
							    });
								
						    
						}else{
							console.log(response);
						}

					});


				};




			  // Load the SDK Asynchronously
			  (function(d){
			     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement('script'); js.id = id; js.async = true;
			     js.src = "//connect.facebook.net/ko_KR/all.js";
			     ref.parentNode.insertBefore(js, ref);
			   }(document));

			</script>
					

 			<div class="fb_event" >

 				<img src="/images/{{event_name}}.jpg" style="width:100%" usemap="#map1"/>
 				<div class="movie">
				
 					<iframe src="https://player.vimeo.com/video/48317625?autoplay=1" width="726" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 				
 				</div>
 				<map name="map1">
 					<area shape="rect" coords="237,2121,579,2191" href="#" onclick="share();" target="_self"> 
 					<area shape="rect" coords="598,2268,730,2303" href="http://newking2012.interest.me/"  target="_blank"> 
 					<area shape="rect" coords="598,2313,730,2347" href="http://blog.naver.com/newking2012" target="_blank"> 			
					<area shape="rect" coords="598,2356,730,2392" href="https://www.facebook.com/newking2012.kr"  target="_blank"> 
 				</map>
 			
 			
 				<div class="like">
 					<div class="like_loaging">진행중입니다 잠시만 기다려주세요 ^^;</div>
					<div class="fb-like" data-href="https://www.facebook.com/newking2012/" data-send="false" data-layout="button_count" data-width="20" data-show-faces="true"></div>
 				</div>
 				<!--
 				<a href="https://goo.gl/kvJ8h" class="link1" target="_blank"><div></div></a>
 				<a href=" https://twitter.com/lotte_ent" class="link2" target="_blank"><div></div></a>
 				<a href="https://www.facebook.com/lotteent.movie" class="link3" target="_blank"><div></div></a>
 				-->

 			</div>
 			<div class="fb-like-box" style="margin-bottom:5px;" data-href="http://www.facebook.com/fpage.kr" data-width="790" data-show-faces="false" data-stream="false" data-header="false"></div>
 			<div class="fb-comments" data-href="https://fpage.kr/event/{{event_name}}" data-num-posts="20" data-width="790" data-mobile="auto-detect" style="width:100%"></div>

		
	      </section>
        </div>

{% endblock %}
{% block add %}{% endblock %}


